/* Copyright (c) 2018 Insomnium Eye */

.editButton {
	position: absolute;
	top: 0;
	right: 15px;
	background-color: rgba(78,93,108, 0.5);
	background-color: var(--navbarBgColor);
	box-shadow: 0px 1px 15px black;
}
.saveBtn {
	color: #5f5 !important;
	color: var(--saveColor) !important;
}
.trashBtn, .cancelBtn {
	color: #f99 !important;
	color: var(--deleteColor) !important;
}
