/* Copyright (c) 2018 Insomnium Eye */

@media screen {
	html {
		box-sizing: border-box;
	}
	*, *:before, *:after {
		box-sizing: inherit;
	}
	.column {
		float: left;
		width: 33.3%;
		margin-bottom: 16px;
		padding: 0 8px;
	}
	.card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.9);
		background: rgba(40,40,50,0.8);
		background: var(--panelBg);
		/*height: 100%;*/
	}
	.container {
		padding: 0 16px;
		/*height: 100%;*/
	}
	.container::after, .row::after {
		content: "";
		clear: both;
		display: table;
	}
	.title {
		color: #aaa;
		color: var(--title-color);
	}
	.row {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	div[class*='col-'] {
		padding-bottom: 15px;
	}
	.avatar-cover {
		width: 100%;
		height: 160px;
		object-fit: cover;
	}
	.Clients h2 {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: calc(100% - 25px);
	}
	.Clients h2[contenteditable="true"] {
		white-space: initial;
		overflow: initial;
		-o-text-overflow: initial;
		text-overflow: initial;
	}
	#grid {
		clear: both;
	}
	#insertClient {
		float:left;
		margin-bottom: 15px;
		margin-right: 15px;
	}
	.Clients .react-file-reader {
		float: left;
	}
	a[href^="mailto:"]
	{
		text-decoration: underline;
	}
	#sortSelect {
		width: 200px;
	}
	#orderForm {
		float: right;
		width: 290px;
	}
	#sortClients {
		float: right;
		margin-top: -54px;
	}
	#helpSpreadsheet {
		float: left;
		background-color: rgba(51,68,85,0.8) !important;
		background-color: var(--btnDarkerBg) !important;
	}
	#options {
		padding: 15px;
		background: rgba(40,40,50,0.8);
		background: var(--panelBg);
		box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.9);
		margin-left: 30px;
		margin-right: 30px;
		margin-bottom: 15px;
	}
	.clientDetails {
		margin-bottom: 10px;
	}
	.clientDetails td {
		padding: 8px 10px 6px 4px;
	}
	/* Blink animation */
	@-webkit-keyframes blink {
		67% { opacity: 0.5 }
	}
	@-moz-keyframes blink {
		67% { opacity: 0.5 }
	}
	@-o-keyframes blink {
		67% { opacity: 0.5 }
	}
	@keyframes blink {
		67% { opacity: 0.5 }
	}
	[contenteditable="true"]:empty:not(:focus)::before {
		content: attr(data-placeholder);
		-webkit-animation: blink 1s step-end infinite;
		-moz-animation: blink 1s step-end infinite;
		-o-animation: blink 1s step-end infinite;
		animation: blink 1s step-end infinite;
	}
	.clientNotes:not(:empty)::before {
		content: "Notes: ";
		font-weight: bold;
	}
	.popover-content {
		overflow: auto;
		font-size: 14px;
	}
	.popover-content ol {
		padding-left: 14px;
		max-height: 100px;
		overflow: auto;
	}
	#searchForm {
		width: 190px;
		float: right;
		margin-right: 50px;
	}
	#searchForm .form-group {
		margin-bottom: 0px;
	}
	#searchForm select {
		width: 100px;
		display: inline;
	}
	#searchForm input {
		width:190px;
		margin-top: 10px;
	}
	#searchForm button {
		margin-top: -5px;
		margin-left: 10px;
	}
}
@media screen and (max-width: 1070px) {
	#options {
		height: 195px;
	}
	#optionForms {
		margin-top: 50px;
		position: absolute;
	}
}
@media (min-width: 768px) {
	.container {
		width: 100%;
	}
	/* All columns same height */
	.row {
		display: flex;
		flex-wrap: wrap;
	}
	.row > [class*='col-'] {
		display: flex;
		flex-direction: column;
	}
}
@media screen and (max-width: 685px) {
	#orderForm,
	#searchForm {
		margin-top: 10px;
		padding: 5px  0 0;
		float: none;
	}
	#options {
		height: 325px;
	}
}
@media screen and (max-width: 650px) {
	.column {
		width: 100%;
		display: block;
	}
}
@media screen and (max-width: 496px) {
	#importSpreadsheet {
		width: 100%;
		float: left;
	}
	#options {
		height: 370px;
	}
	#optionForms {
		margin-top: 95px;
		position: absolute;
	}
}
@media screen and (max-width: 446px) {
	#options {
		height: 415px;
	}
	#orderForm,
	#searchForm {
		width: auto;
	}
	#sortClients {
		float: none;
		margin-top: 10px;
		display: block;
	}
	#sortSelect {
		width: 100%;
	}
}
@media screen and (max-width: 398px) {
	#options {
		height: initial;
	}
	#optionForms {
		position: relative;
		margin-top: 105px;
	}
	#searchForm button {
		margin-top: -63px;
		margin-left: 110px;
	}
	#searchForm input {
		margin-top: -10px;
	}
}
@media screen and (max-width: 360px) {
	#optionForms {
		margin-top: 145px;
	}
	#importSpreadsheet,
	#insertClient,
	.Clients .react-file-reader,
	#importSpreadsheet .react-file-reader-button,
	#importSpreadsheet .react-file-reader-button button {
		width: 100%;
		display: block;
	}
	#helpSpreadsheet {
		display: block;
		float: none;
	}
	.buttontext {
		display: block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
@media screen and (max-width: 344px) {
	#searchForm {
		width: 100%;
		padding-bottom: 50px;
	}
	#searchForm button {
		position: absolute;
		margin-left: -100px;
		margin-top: 98px;
	}
	#searchForm input {
		width: 100%;
		display: block;
		margin-top: 10px;
	}
}
@media screen and (max-width: 255px) {
	#searchForm button {
		margin-left: 0px;
		margin-top: 60px;
	}
}
