/* Copyright (c) 2018 Insomnium Eye */

.Home .lander {
	padding: 80px 0;
	text-align: center;
}
.Home .lander h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
}
.Home .lander p {
	color: #aaa;
	color: var(--title-color);
}
