/* Copyright (c) 2018 Insomnium Eye */

@media screen {
	.Login {
		position: fixed;
		top: 50%;
		margin-top: -200px;
		left: 50%;
		margin-left: -172.5px;
		width: 345px;
		background: rgba(0,0,0,0.6);
		background: var(--overlay);
		padding: 8px 40px;
	}
	.Login form {
		margin: 0 auto;
		width: 100%;
	}
	.Login h1 {
		text-align: center;
		margin-bottom: 20px;
	}
	.Login #settingsBtn {
		position: fixed;
		bottom: 0;
		left: 0;
		font-size: 40px;
		background: transparent !important;
		outline: 0 !important;
		box-shadow: none !important;
		color: #99a !important;
		text-shadow: 2px 2px 2px #000;
		opacity: 0.8;
	}
	.Login #settingsBtn:active svg {
		animation-play-state:paused;
	}
}
@media screen and (max-width: 320px) {
	.Login {
		position: inherit;
		margin-top: 0;
		margin-left: 0;
		width: 100%;
	}
}
