/* Copyright (c) 2018 Insomnium Eye */

.App .navbar-brand {
	font-weight: bold;
}

.App #nav-user-menu,
.App #nav-user-menu:hover,
.App #nav-user-menu:active,
.App #nav-user-menu:active:focus {
	background-color: transparent !important;
	margin-top: -1px;
}

.App #welcomeUser {
	margin-top: 11px;
}

@media screen and (max-width: 767px) {
	.App #welcomeUser {
		display: none;
	}
	.App #nav-user-menu::before {
		content: attr(data-username);
	}
}
