/* Copyright (c) 2018 Insomnium Eye */

:root {
	--font-color: #fff;
	--title-color: #ccc;
	--overlay: rgba(0,0,0,0.6);
	--navbarBgColor: rgba(78,93,108, 0.5);
	--bodyBg: rgba(43, 62, 80, 1); /* #2b3e50 */
	--panelBg: rgba(23,32,40,0.8);
	--panelHeaderFooterBg: rgba(30,30,40,0.8);
	--btnBg: rgba(48,53,68,0.8);
	--btnFont: #fff;
	--btnDarkerBg: rgba(31,48,55,0.8);
	--btnHoverBg: rgba(72,85,99,0.8);
	--btnActiveBg: rgba(57,68,78,0.8);
	--btnActiveFocusBg: rgba(42,50,58,0.8);
	--outline: rgba(94, 158, 214, 1);
	--saveColor: #5f5;
	--deleteColor: #f99;
}

body {
	/*background-image: url('./images/wallpaper.jpg');*/
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin: 0;
	background-size: cover;
	height: 100vh;
	background-color: rgba(43, 62, 80, 1) !important;
	background-color: var(--bodyBg) !important;
	/*font-family: "Open Sans", sans-serif;*/
}
a, a:hover, a:visited, a:focus {
	color: #fff !important;
	color: var(--font-color) !important;
}
hr {
	border-top: 1px solid #aaa;
	border-top: 1px solid var(--title-color) !important;
}
#root {
	background-color: rgba(0,0,0,0.75);
	margin: 0;
	padding: 15px;
	min-height: 100vh;/*
	width: 100vw;*/
}
/*h1, h2, h3, h4, h5, h6 {
	font-family: "PT Serif", serif;
}*/
/*
.card {
	color: #ffffff !important;
	color: var(--btnFont) !important;
}*/


/**
 * Navigation bar - START
 */
.navbar-default {
	background-color: rgba(78,93,108, 0.5) !important;
	background-color: var(--navbarBgColor) !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #fff !important;
	color: var(--btnFont) !important;
	background-color: rgba(57,68,78,0.8) !important;
	background-color: var(--btnActiveBg) !important;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #fff !important;
	color: var(--btnFont) !important;
	background-color: rgba(57,68,78,0.8) !important;
	background-color: var(--btnActiveBg) !important;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: var(--btnActiveBg) !important;
}
.dropdown-menu {
	background-color: rgba(57,68,78,0.8) !important;
	background-color: var(--btnActiveBg) !important;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	background-color: rgba(57,68,78,0.8) !important;
	background-color: var(--btnActiveBg) !important;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: rgba(57,68,78,0.8) !important;
	background-color: var(--btnActiveBg) !important;
	outline: 0;
}


/* Modal / Popover */
.popover,
.modal-content {
	background-color: rgba(40,40,50,0.8) !important;
	background-color: var(--panelBg) !important;
}
.popover-title,
.modal-header, .modal-footer {
	background-color: rgba(30,30,40,0.8) !important;
	background-color: var(--panelHeaderFooterBg) !important;
}
.popover.top > .arrow:after {
	border-top-color: rgba(78,93,108,0.8) !important;
	border-top-color: var(--btnBg) !important;
}
.popover.bottom > .arrow:after {
	border-bottom-color: rgba(78,93,108,0.8) !important;
	border-bottom-color: var(--btnBg) !important;
}
.popover.left > .arrow:after {
	border-left-color: rgba(78,93,108,0.8) !important;
	border-left-color: var(--btnBg) !important;
}
.popover.right > .arrow:after {
	border-right-color: rgba(78,93,108,0.8) !important;
	border-right-color: var(--btnBg) !important;
}


/* Scrollbar */
::-webkit-scrollbar {
	background: rgba(0,0,0,0.6);
	background: var(--overlay);
	border-radius: 4px;
	height: 8px;
	width: 4px;
}
::-webkit-scrollbar-thumb {
	background: rgba(78,93,108,0.8);
	background: var(--btnBg);
	border-radius: 4px;
}
/**
 * Loader taken from:
 * https://projects.lukehaas.me/css-loaders/
 */
.loader {
	display: none;
	color: #ffffff;
	color: var(--font-color);
	font-size: 10px;
	position: fixed;
	right: 0;
	bottom: 0;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	text-indent: -9999em;
	-webkit-animation: load4 1.3s infinite linear;
	animation: load4 1.3s infinite linear;
	-webkit-transform: translateX(-500%) translateY(-500%) translateZ(0);
	-ms-transform: translateX(-500%) translateY(-500%) translateZ(0);
	transform: translateX(-500%) translateY(-500%) translateZ(0);
}
@-webkit-keyframes load4 {
	0%,
	100% {
		box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
			0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
	}
	12.5% {
		box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
			0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
	}
	25% {
		box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
			0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
	}
	37.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
			0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	50% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
			0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	62.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
			0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
	}
	75% {
		box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
			0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
	}
	87.5% {
		box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
			0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
	}
}
@keyframes load4 {
	0%,
	100% {
		box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
			0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
	}
	12.5% {
		box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
			0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
	}
	25% {
		box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
			0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
	}
	37.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
			0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	50% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
			0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	62.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
			0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
	}
	75% {
		box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
			0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
	}
	87.5% {
		box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
			0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
	}
}
.react-confirm-alert-overlay {
	background: rgba(0, 0, 0, 0.7) !important;
}
.react-confirm-alert-body {
	background: rgba(40,40,50,0.8) !important;
	background: var(--panelBg) !important;
	color: #fff !important;
	color: var(--font-color) !important;
	border-radius: 0!important;
}

/**
 * Buttons - START
 */
.btn-default,
.react-confirm-alert-button-group > button {
	color: #ffffff !important;
	color: var(--btnFont) !important;
	background-color: rgba(78,93,108,0.8) !important;
	background-color: var(--btnBg) !important;
	border-radius: 0 !important;
}
.btn-default:hover,
.react-confirm-alert-button-group > button:hover {
	background-color: rgba(72,85,99,0.8) !important;
	background-color: var(--btnHoverBg) !important;
}
.btn-default:active, .btn-default:focus,
.react-confirm-alert-button-group > button:active,
.react-confirm-alert-button-group > button:focus {
	background-color: rgba(57,68,78,0.8) !important;
	background-color: var(--btnActiveBg) !important;
}
.btn-default:focus,
.react-confirm-alert-button-group > button:focus {
	outline: 5px auto -webkit-focus-ring-color!important;
	outline: 5px auto var(--outline)!important;
	outline-offset: -2px!important;
}
.btn-default:active:focus,
.react-confirm-alert-button-group > button:active:focus {
	background-color: rgba(42,50,58,0.8) !important;
	background-color: var(--btnActiveFocusBg) !important;
	outline: 5px auto var(--outline)!important;
	outline-offset: -2px!important;
}
[contenteditable]:focus {
	outline: 5px auto var(--outline)!important;
}
button.close:focus, button.close:active:focus {
	outline: none;
}
/**
 * Buttons - END
 */
